:root.theme-dark {
  --body-background-color: #000028;
  --body-background-image: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --section-title-color: #FF0070;
  --paragraph-text-color: #F1B2CE;
  --rectangle-color: #FF0070;
  --button-color: #FF0070;
  --block-title-color: #000028;
  --block-title-background: #FF0070;
  --border-color: #FF0070;
  --hover-color: #FF0070;
  --link-hover-color: #F1B2CE;
  --link-focus-color: #F1B2CE;
  --link-shadow-color: #FF0070;
  --accent-color: #FF0070;
  --text-color-base: #FF0070;
  --display-container:flex;
}

/* Для авторежима с prefers-color-scheme: dark */
@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: #000028;
    --body-background-image: url(../images/cover-image-dark.png);
    --title-color: #DB00FF;
    --section-title-color: #FF0070;
    --paragraph-text-color: #F1B2CE;
    --rectangle-color: #FF0070;
    --button-color: #FF0070;
    --block-title-color: #000028;
    --block-title-background: #FF0070;
    --border-color: #FF0070;
    --hover-color: #FF0070;
    --link-hover-color: #F1B2CE;
    --link-focus-color: #F1B2CE;
    --link-shadow-color: #FF0070;
    --accent-color: #FF0070;
    --text-color-base: #FF0070;
    --display-container:flex;
  }
}
