/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --rectangle-color: #ff0070;
  --header-button-color: #ff0070;
  --button-color: #ff0070;
  --section-title-color: #ff0070;
  --text-color-base: #ff0070;
  --accent-color: #ff0070;
  --header-button-color: #ff0070;
  --block-title-color: #000028;
  --block-title-background: #ff0070;
  --hover-color:#ff0070;
  --focus-adres:#F1B2CE;
}


@media (prefers-color-scheme: dark) {
  :root:not(.theme-light):not(.theme-dark) {
    --rectangle-color: #ff0070;
    --header-button-color: #ff0070;
    --button-color: #ff0070;
    --section-title-color: #ff0070;
    --text-color-base: #ff0070;
    --accent-color: #ff0070;
    --header-button-color: #ff0070;
    --block-title-color: #000028;
    --block-title-background: #ff0070;
    --hover-color:#ff0070;
    --focus-adres:#F1B2CE;
  }
  
  :root:not(.theme-light):not(.theme-dark) .header__theme-menu-button_type_auto {
    border: 1px solid var(--button-color);
    pointer-events: none;
  }
}
