/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --title-color: #ffc2e6;
  --body-background-image: url(../images/cover-image-light.png);
  --section-title-color: #353430;
  --paragraph-text-color: #353430;
  --rectangle-color: #353430;
  --button-color: #353430;
  --block-title-color: #353430;
  --block-title-background: #ff8dcb;
  --border-color: #353430;
  --hover-color: #353430;
  --link-hover-color: #353430;
  --link-focus-color: #353430;
  --link-shadow-color: #ff8dcb;
  --accent-color: #ff8dcb;
  --body-background-color:#FFF1F7;
  --display-container:none;
}

:root.theme-light .rec-container {
  display: var(--display-container);
}

/* Для авторежима с prefers-color-scheme: light */
@media (prefers-color-scheme: light) {
  :root {
    --title-color: #ffc2e6;
    --body-background-image: url(../images/cover-image-light.png);
    --section-title-color: #353430;
    --paragraph-text-color: #353430;
    --rectangle-color: #353430;
    --button-color: #353430;
    --block-title-color: #353430;
    --block-title-background: #ff8dcb;
    --border-color: #353430;
    --hover-color: #353430;
    --link-hover-color: #353430;
    --link-focus-color: #353430;
    --link-shadow-color: #ff8dcb;
    --accent-color: #ff8dcb;
    --body-background-color:#FFF1F7;
    --display-container:none;
  }
}
