.page {
  background-image: var(--body-background-image);
  background-attachment: fixed;
  background-color: var(--body-background-color);
  font-family: var(--font-page), sans-serif;
  font-weight: 400;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;



}


.link {
  text-shadow: 2px 2px var(--link-shadow-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--link-hover-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--link-focus-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 7px;
  right: 20px;
  border-inline-end: 1px solid var(--rectangle-color);
  border-block-start: 1px solid var(--rectangle-color);
}

.decorated-zone::after {
  bottom: 37px;
  left: 17px;
  border-inline-start: 1px solid var(--rectangle-color);
  border-block-end: 1px solid var(--rectangle-color);
}

.header {
  display: grid;
  grid-template-rows: 2fr auto 1fr;
  align-items: center;
  min-block-size: 100vh;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--button-color);
  text-transform: lowercase;
  padding: 2px 12px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
  border-color: rgb(from var(--hover-color) r g b / var(--hover-opacity));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.rec-container {
  position: absolute;
  inset-block-start: 7px;
  inset-inline-end: 28px;
  display: var(--display-container);
  align-items: center;
  font-size: 18px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 400;
  line-height: 25px;
}

.rec-container::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-inline-start: 10px;
}

.text-container {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 114px;
  margin-block-start: 0;
}

.main-title {
  grid-column: 1 / -1;
}

.main {
  font-size: var(--big-title-size);
  color: var(--title-color);
  font-weight: var(--big-title-weight);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
}

.paragraph-main {
  grid-column: 2;
  justify-self: end;
  background-color: var(--accent-color);
  color: var(--block-title-color);
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
  inline-size: min(491px, 100%);
  margin-right: 20px;
}

.title-decor {
  background-color: var(--block-title-background);
  color: var(--block-title-color);
  font-size: var(--block-title-size);
}

.title-decor-light {
  font-weight: normal;
}

.title {
  font-size: var(--section-title-size);
  color: var(--section-title-color);
  line-height: var(--section-line-height);
  font-weight: bold;
}

.content-section {
  padding: 0 var(--side-gap);
  margin-block-start: var(--section-gap);
}

.block{
  margin-block-start: 45px;
}
.content-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 19px;
}

.content-section-title {
  max-inline-size: 315px;
}

.content-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.diffrent-block{
  gap: 12px;
}


.cards-container {
  grid-column: 1 / -1;
}

.cards-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-list-item {
  max-width: 315px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: var(--paragraph-font-size);
  font-weight: normal;
  line-height: 23.4px;
  color: var(--paragraph-text-color);
}


.advice-items {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advice-section-title {
  font-weight: bold;
}


.gallery-section {
  padding: 0 var(--side-gap);
  margin-block-start: var(--section-gap);
}

.gallery-title {
  margin-block-end: 20px;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-item {
  width: 100%;
  height: 100%;
  margin: 0;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.gallery-item_1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.gallery-item_2 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

.gallery-item_3 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

.gallery-item_4 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.gallery-item_5 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 768px;
  margin-block-start: 60px;
}

.footer-title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Медиазапрос для планшетов (768px и меньше) */
@media (width < 769px) {
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    padding-inline-end: 20px;
    margin-top: 108px;
  }

  .text-container {
    margin-top:95px;
    gap: 162px;
  }
  .block{
    margin-block-start: 60px;
  }

  .content-section-title {
    max-inline-size: 236px;
  }

  .cards-list {
    flex-direction: column;
  }

  .advice-items {
    grid-column: 2;
  }
  .cards-list-item {
    max-width: none;
  }
  .paragraph {
    max-width: 364px;
  }
  .paragraph-main {
    inline-size: unset;
  }
  .rec-container{
    inset-block-start: 19px;
  }
  .decorated-zone::before{
    top: 19px;
  }
}

@media (width < 768px) and (width > 375px) {
  .content-block {
    grid-template-columns: 1fr;
  }
  .advice-items {
  grid-column: 1;
}
  /* .paragraph-main {
    grid-column: 1;
    justify-self: stretch;
    margin-left: 10px;
    margin-right: 10px;
  } */
}

@media (width < 376px) {
  :root {
    --section-gap: 51px;
  }
  .text-container {
    grid-template-columns: 1fr;
    gap: 55px;
    margin-top: 65px;
    margin-left: 10px;
  }

  .header__theme-menu-list {
    margin-top: 64px;
    padding-inline-end: 10px;
  }

  .main {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .content-section {
    padding: 0 10px;
    margin-block-start: var(--section-gap);
  }
  .paragraph-main {
    grid-column: 1;
    justify-self: stretch;
    margin-right: 10px;
  }

  .block {
    margin-block-start: 19px;
  }

  .content-block {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .content-section-title {
    max-inline-size: none;
  }

  .cards-container {
    grid-column: 1;
  }

  .advice-items {
    grid-column: 1;
  }

  .gallery-section {
    padding: 0 10px;
    margin-block-start: 50px;
  }
  .gallery-title{
    margin-block-end:11px;
  }

  .gallery-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    min-block-size: 668px;
    margin-block-start: 40px;
  }

  .rec-container {
    inset-inline-end: 20px;
    top: 5px;
  }

  .decorated-zone::before {
    inset-block-start: 5px;
    inset-inline-end: 10px;
  }

  .decorated-zone::after {
    inset-block-end: 10px;
    inset-inline-start: 10px;
  }
}
