/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root{
  --body-bacground-color:#000028;
  --body-background-image-dark:url(../images/cover-image-dark.png);
  --font-page:"IBM Plex mono",sans-serif;
  --text-color-base:#FF0070;
  --accent-color:#FF0070;
  --section-gap:80px;
  --paragraph-text-color:#F1B2CE;
  --block-title-color:#000028;
  --section-title-color:#FF0070;
  --paragraph-font-size:18px;
  --section-title-size:18px;
  --section-line-height:23.4px;
  --block-title-color:#000028;
  --block-title-background:#ff0070;
  --block-title-size:18px;
  --side-gap:20px;
  --big-title-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --big-title-color:#DB00FF;
  --big-title-weight:bold;
  --title-color:#DB00FF;
  --rectangle-color:#FF0070;
  --header-button-color:#FF0070;
  --button-color:#FF0070;
  --border-color:#ff0070;
  --hover-color:#FF0070;
  --hover-adres:#F1B2CE;
  --focus-adres:#F1B2CE;
}
